Source: aten
Maintainer: Tristan Youngs <tristan.youngs@stfc.ac.uk>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9), ftgl-dev, libreadline6-dev, bison, libtool, chrpath, qt54base

Package: aten
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt54base, qt54svg, libftgl2, libreadline6
Description: Atomic configuration creator and editor
 Aten allows configurations suitable for molecular dynamics, Monte Carlo, and
 ab initio codes to be created easily. Periodic and non-periodic systems can
 be generated automatically or built by hand, and spacegroup packing
 (i.e. support for crystals) is implemented. Aten is fully scriptable and
 support for any file format (be it a model file, gridded data, or 
 forcefield description) can be added through the filters system.
