# Makefile stuff
*.in
/config/
configure
aclocal.m4
/autom4te.cache/
Makefile
.deps/
config.h
config.log
config.status
libtool
stamp-h1

# Build objects
*.a
*.la
*.lo
.libs/
*.o
*.cc
*.hh
ui_*
moc_*
src/aten
Aten.desktop
.kdev4/
build/

# Miscellaneous
*swp
changes
