[Desktop Entry]
Comment=Aten - Atomic configuration builder and editor
Exec=aten %f
GenericName=Aten
Icon=aten
Name=Aten
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;Chemistry;
X-SuSE-translate=false
