[Desktop Entry]
Version=2.1.7
Encoding=UTF-8
Comment=Aten - Atomic configuration builder and editor
Exec=aten %f
GenericName=Aten
Icon=aten
Name=Aten
StartupNotify=false
Terminal=0
Type=Application
Categories=Education;Chemistry;
X-SuSE-translate=false
